flows.json
[{"id":"c8c79968.a27df8","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"7cc90342.42909c","type":"watson-conversation-v1","z":"c8c79968.a27df8","name":"Assisstant","workspaceid":"bfaea3b5-dacb-41bb-a849-83255116a0c3","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/5d1d21d0-656a-4a70-9f0c-c6bbead9f89e","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["cc601bd9.e9cb08","acf8624b.56528"]],"l":false},{"id":"b944928e.73cd1","type":"function","z":"c8c79968.a27df8","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["7cc90342.42909c","91e1f389.6aba3"]],"l":false},{"id":"99ff8cb9.4affa","type":"ui_form","z":"c8c79968.a27df8","name":"","label":"form","group":"5e8da793.e8e1b8","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["b944928e.73cd1"]],"l":false},{"id":"cc601bd9.e9cb08","type":"function","z":"c8c79968.a27df8","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["45230e32.006df"]],"l":false},{"id":"91e1f389.6aba3","type":"ui_text","z":"c8c79968.a27df8","group":"5e8da793.e8e1b8","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":395,"y":360,"wires":[],"l":false},{"id":"45230e32.006df","type":"ui_text","z":"c8c79968.a27df8","group":"5e8da793.e8e1b8","order":6,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":360,"wires":[]},{"id":"acf8624b.56528","type":"debug","z":"c8c79968.a27df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":80,"wires":[]},{"id":"5e8da793.e8e1b8","type":"ui_group","z":"","name":"CHATBOT","tab":"829b662a.1f8c58","order":1,"disp":true,"width":13,"collapse":false},{"id":"829b662a.1f8c58","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]